.loadingTitle {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.page {
	display: none;
}

.display {
	display: block;
}

.destructiveButton {
	background-color: #a70000;
	color: white;
}

.destructiveButton:focus {
	background: #b92525;
}